body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.nav a {padding: 14px 16px;

color:white;
}
.flexnav {
    display: flex;
    justify-content: center;

}
a {
    text-decoration: none;
}
#theatre-image {width : 70%;
    height :500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#theatre-image-text{color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

font-size: 80px;}

 
button {color:white;
    float:right;
background-color: #f1b700;font-size: 25px;
}
.tileflex{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.flexitem{background-color:white;
    flex-basis: 80%;
}

ul, li{list-style: none;
}
.items{padding-top: 20px; 
    padding-bottom: 20px;
    width: 60%;
    margin-left: auto; 
    margin-right: auto;}
    #date {
    padding-top: 10px;
    text-align: center;
}
.itempicture {float: left;
    padding-left: 30px;
    padding-right: 60px;
    padding-bottom: 30px;
    height: 150px;
    }
    #map {
        height: 200px;
        text-align: center;}
    .flexcontainer {
        display: flex;
        justify-content: center;
        margin-left: 150px;
        margin-right: 150px;
    }
    
    .flexcolumn {
        flex-basis: 80%;
        text-align: center;
        color: white;
    }
    
    
    
    
    
    
